In [3]:
###WE ARE HERE

In [8]:
import pandas as pd
import numpy as np

awards = pd.read_csv("datasets/awards_players.csv")
coaches = pd.read_csv("datasets/coaches.csv")
player_teams = pd.read_csv("datasets/players_teams.csv")
players = pd.read_csv("datasets/players.csv")
series_post = pd.read_csv("datasets/series_post.csv")
teams_post = pd.read_csv("datasets/teams_post.csv")
teams = pd.read_csv("datasets/teams.csv")

datasets = [awards, coaches, player_teams, players, series_post, teams_post, teams]

     playerID                               award  year  lgID
0  thompti01w  All-Star Game Most Valuable Player     1  WNBA
      coachID  year tmID  lgID  stint  won  lost  post_wins  post_losses
0  adamsmi01w     5  WAS  WNBA      0   17    17          1            2
     playerID  year  stint tmID  lgID  GP  GS  minutes  points  oRebounds  \
0  abrossv01w     2      0  MIN  WNBA  26  23      846     343         43

   ...  PostBlocks  PostTurnovers  PostPF  PostfgAttempted  PostfgMade  \
0  ...           0              0       0                0           0

   PostftAttempted  PostftMade  PostthreeAttempted  PostthreeMade  PostDQ
0                0           0                   0              0       0

[1 rows x 43 columns]
        bioID pos  firstseason  lastseason  height  weight            college  \
0  abrahta01w   C            0           0    74.0     190  George Washington

  collegeOther   birthDate   deathDate
0          NaN  1975-09-27  0000-00-00
   year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L
0     1    FR      A        CLE       WNBA       ORL      WNBA  2  1
   year tmID  lgID  W  L
0     1  HOU  WNBA  6  0
   year  lgID tmID franchID confID  divID  rank playoff  seeded firstRound  \
0     9  WNBA  ATL      ATL     EA    NaN     7       N       0        NaN

   ...  GP homeW homeL  awayW  awayL  confW  confL   min  attend  \
0  ...  34     1    16      3     14      2     18  6825  141379

           arena
0  Philips Arena

[1 rows x 61 columns]