## DATA EXPLORATION

In [137]:
import pandas as pd
import numpy as np

# Set pandas options to display all columns
pd.set_option('display.max_columns', None)

# Set pandas options to display all rows
pd.set_option('display.max_rows', None)

awards = pd.read_csv("../datasets/awards_players.csv")
coaches = pd.read_csv("../datasets/coaches.csv")
player_teams = pd.read_csv("../datasets/players_teams.csv")
players = pd.read_csv("../datasets/players.csv")
series_post = pd.read_csv("../datasets/series_post.csv")
teams_post = pd.read_csv("../datasets/teams_post.csv")
teams = pd.read_csv("../datasets/teams.csv")

dataframes = [awards, coaches, player_teams, players, series_post, teams_post, teams]
dataframe_names = ["awards", "coaches", "player_teams", "players", "series_post", "teams_post", "teams"]

<P> In this notebook, we explored the data available in each dataset with the purpose of understanding which data will be useful for the model. <p>

The datasets are:

#### **AWARDS**

- `awards_players.csv` - what awards did a player/coach won in a given year

In [138]:
awards.head()

     playerID                               award  year  lgID
0  thompti01w  All-Star Game Most Valuable Player     1  WNBA
1  leslili01w  All-Star Game Most Valuable Player     2  WNBA
2  leslili01w  All-Star Game Most Valuable Player     3  WNBA
3  teaslni01w  All-Star Game Most Valuable Player     4  WNBA
4  swoopsh01w  All-Star Game Most Valuable Player     6  WNBA

#### **COACHES**

- `coaches.csv` - coaches and their stats for a given year and team

In [139]:
coaches.head()

      coachID  year tmID  lgID  stint  won  lost  post_wins  post_losses
0  adamsmi01w     5  WAS  WNBA      0   17    17          1            2
1  adubari99w     1  NYL  WNBA      0   20    12          4            3
2  adubari99w     2  NYL  WNBA      0   21    11          3            3
3  adubari99w     3  NYL  WNBA      0   18    14          4            4
4  adubari99w     4  NYL  WNBA      0   16    18          0            0

#### **PLAYER_TEAMS**

- `players_teams.csv` - players stats for a given year and team

In [140]:
player_teams.head()

,playerID,year,stint,tmID,lgID,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,assists,steals,blocks,turnovers,PF,fgAttempted,fgMade,ftAttempted,ftMade,threeAttempted,threeMade,dq,PostGP,PostGS,PostMinutes,PostPoints,PostoRebounds,PostdRebounds,PostRebounds,PostAssists,PostSteals,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,PostDQ
0,abrossv01w,2,0,MIN,WNBA,26,23,846,343,43,131,174,53,42,9,85,70,293,114,132,96,76,19,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,abrossv01w,3,0,MIN,WNBA,27,27,805,314,45,101,146,60,42,10,92,73,316,119,116,56,60,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,abrossv01w,4,0,MIN,WNBA,30,25,792,318,44,97,141,82,44,11,90,79,285,112,98,69,82,25,0,3,3,69,23,1,4,5,4,4,1,8,8,22,6,8,8,7,3,0
3,abrossv01w,5,0,MIN,WNBA,22,11,462,146,17,57,74,45,30,2,43,42,139,49,46,28,53,20,0,2,2,67,20,3,6,9,3,1,2,3,7,23,8,4,2,8,2,0
4,abrossv01w,6,0,MIN,WNBA,31,31,777,304,29,78,107,60,48,6,80,86,276,109,73,53,82,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

#### **PLAYERS**

- `players.csv` - players physical information, birthdate, college, etc.

In [141]:
players.head()

,bioID,pos,firstseason,lastseason,height,weight,college,collegeOther,birthDate,deathDate
0,abrahta01w,C,0,0,74.0,190,George Washington,NaN,1975-09-27,0000-00-00
1,abrossv01w,F,0,0,74.0,169,Connecticut,NaN,1980-07-09,0000-00-00
2,adairje01w,C,0,0,76.0,197,George Washington,NaN,1986-12-19,0000-00-00
3,adamsda01w,F-C,0,0,73.0,239,Texas A&M,Jefferson College (JC),1989-02-19,0000-00-00
4,adamsjo01w,C,0,0,75.0,180,New Mexico,NaN,1981-05-24,0000-00-00

#### **SERIES_POST**

- `series_post.csv` - playoff series results

In [142]:
series_post.head()

   year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L
0     1    FR      A        CLE       WNBA       ORL      WNBA  2  1
1     1    FR      B        NYL       WNBA       WAS      WNBA  2  0
2     1    FR      C        LAS       WNBA       PHO      WNBA  2  0
3     1    FR      D        HOU       WNBA       SAC      WNBA  2  0
4     1    CF      E        HOU       WNBA       LAS      WNBA  2  0

#### **TEAMS_POST**

- `teams_post.csv` - playoff team results

In [143]:
teams_post.head()

   year tmID  lgID  W  L
0     1  HOU  WNBA  6  0
1     1  ORL  WNBA  1  2
2     1  CLE  WNBA  3  3
3     1  WAS  WNBA  0  2
4     1  NYL  WNBA  4  3

#### **TEAMS**

- `teams.csv` - team stats for a given year, including wins, losses, wether they made the playoffs, etc.

In [144]:
teams.head(10)

,year,lgID,tmID,franchID,confID,divID,rank,playoff,seeded,firstRound,semis,finals,name,o_fgm,o_fga,o_ftm,o_fta,o_3pm,o_3pa,o_oreb,o_dreb,o_reb,o_asts,o_pf,o_stl,o_to,o_blk,o_pts,d_fgm,d_fga,d_ftm,d_fta,d_3pm,d_3pa,d_oreb,d_dreb,d_reb,d_asts,d_pf,d_stl,d_to,d_blk,d_pts,tmORB,tmDRB,tmTRB,opptmORB,opptmDRB,opptmTRB,won,lost,GP,homeW,homeL,awayW,awayL,confW,confL,min,attend,arena
0,9,WNBA,ATL,ATL,EA,NaN,7,N,0,NaN,NaN,NaN,Atlanta Dream,895,2258,542,725,202,598,340,737,1077,492,796,285,593,142,2534,1014,2254,679,918,172,502,401,864,1265,684,726,310,561,134,2879,0,0,0,0,0,0,4,30,34,1,16,3,14,2,18,6825,141379,Philips Arena
1,10,WNBA,ATL,ATL,EA,NaN,2,Y,0,L,NaN,NaN,Atlanta Dream,1089,2428,569,755,114,374,404,855,1259,547,741,329,590,121,2861,996,2363,624,807,181,530,353,821,1174,615,700,347,601,133,2797,0,0,0,0,0,0,18,16,34,12,5,6,11,10,12,6950,120737,Philips Arena
2,1,WNBA,CHA,CHA,EA,NaN,8,N,0,NaN,NaN,NaN,Charlotte Sting,812,1903,431,577,131,386,305,630,935,551,713,222,496,90,2186,879,1930,533,716,138,423,326,664,990,596,596,259,426,123,2429,0,0,0,0,0,0,8,24,32,5,11,3,13,5,16,6475,90963,Charlotte Coliseum
3,2,WNBA,CHA,CHA,EA,NaN,4,Y,0,W,W,L,Charlotte Sting,746,1780,410,528,153,428,309,639,948,467,605,217,474,114,2055,732,1846,431,562,114,369,344,567,911,443,579,257,447,124,2009,0,0,0,0,0,0,18,14,32,11,5,7,9,15,6,6500,105525,Charlotte Coliseum
4,3,WNBA,CHA,CHA,EA,NaN,2,Y,0,L,NaN,NaN,Charlotte Sting,770,1790,490,663,211,527,302,653,955,496,647,241,408,105,2241,778,1807,444,598,133,372,295,620,915,489,600,208,424,103,2133,0,0,0,0,0,0,18,14,32,11,5,7,9,12,9,6450,106670,Charlotte Coliseum
5,4,WNBA,CHA,CHA,EA,NaN,2,Y,0,L,NaN,NaN,Charlotte Sting,787,1881,456,590,187,517,342,629,971,499,697,279,497,115,2217,790,1902,477,667,138,407,386,621,1007,491,606,264,469,104,2195,0,0,0,0,0,0,18,16,34,13,4,5,12,12,12,6850,120061,Charlotte Coliseum
6,5,WNBA,CHA,CHA,EA,NaN,5,N,0,NaN,NaN,NaN,Charlotte Sting,745,1744,436,590,166,459,256,616,872,426,648,210,479,134,2092,800,1932,438,587,130,349,368,628,996,516,595,243,437,114,2168,0,0,0,0,0,0,16,18,34,10,7,6,11,8,12,6900,116383,Charlotte Coliseum
7,6,WNBA,CHA,CHA,EA,NaN,6,N,0,NaN,NaN,NaN,Charlotte Sting,772,1913,447,624,104,301,316,609,925,493,727,284,535,113,2095,851,1888,509,713,124,339,355,700,1055,496,654,269,534,146,2335,0,0,0,0,0,0,6,28,34,5,12,1,16,4,16,6945,98054,Charlotte Coliseum
8,7,WNBA,CHA,CHA,EA,NaN,6,N,0,NaN,NaN,NaN,Charlotte Sting,864,2178,552,777,176,544,347,747,1094,527,734,315,574,155,2456,911,2149,594,791,155,465,370,870,1240,522,707,286,619,125,2571,0,0,0,0,0,0,11,23,34,7,10,4,13,6,14,6825,106942,Time Warner Cable Arena
9,7,WNBA,CHI,CHI,EA,NaN,7,N,0,NaN,NaN,NaN,Chicago Sky,858,2175,449,643,157,536,357,680,1037,509,674,277,527,125,2322,971,2147,545,736,200,536,379,860,1239,623,584,262,535,120,2687,0,0,0,0,0,0,5,29,34,3,14,2,15,4,16,6800,57635,UIC Pavilion

<p> After understanding what each dataset contained we needed to check if there were any missing values to be treated later. <p>

In [145]:
# Check for missing values
for df, name in zip(dataframes, dataframe_names):
    print(f"--- {name} ---")
    nan_count = df.isna().sum()
    print(nan_count)
    print("\n" + "-"*50 + "\n")

--- awards ---
playerID    0
award       0
year        0
lgID        0
dtype: int64

--------------------------------------------------

--- coaches ---
coachID        0
year           0
tmID           0
lgID           0
stint          0
won            0
lost           0
post_wins      0
post_losses    0
dtype: int64

--------------------------------------------------

--- player_teams ---
playerID              0
year                  0
stint                 0
tmID                  0
lgID                  0
GP                    0
GS                    0
minutes               0
points                0
oRebounds             0
dRebounds             0
rebounds              0
assists               0
steals                0
blocks                0
turnovers             0
PF                    0
fgAttempted           0
fgMade                0
ftAttempted           0
ftMade                0
threeAttempted        0
threeMade             0
dq                    0
PostGP                0
PostGS                0
PostMinutes           0
PostPoints            0
PostoRebounds         0
PostdRebounds         0
PostRebounds          0
PostAssists           0
PostSteals            0
PostBlocks            0
PostTurnovers         0
PostPF                0
PostfgAttempted       0
PostfgMade            0
PostftAttempted       0
PostftMade            0
PostthreeAttempted    0
PostthreeMade         0
PostDQ                0
dtype: int64

--------------------------------------------------

--- players ---
bioID             0
pos              78
firstseason       0
lastseason        0
height            0
weight            0
college         167
collegeOther    882
birthDate         0
deathDate         0
dtype: int64

--------------------------------------------------

--- series_post ---
year          0
round         0
series        0
tmIDWinner    0
lgIDWinner    0
tmIDLoser     0
lgIDLoser     0
W             0
L             0
dtype: int64

--------------------------------------------------

--- teams_post ---
year    0
tmID    0
lgID    0
W       0
L       0
dtype: int64

--------------------------------------------------

--- teams ---
year            0
lgID            0
tmID            0
franchID        0
confID          0
divID         142
rank            0
playoff         0
seeded          0
firstRound     62
semis         104
finals        122
name            0
o_fgm           0
o_fga           0
o_ftm           0
o_fta           0
o_3pm           0
o_3pa           0
o_oreb          0
o_dreb          0
o_reb           0
o_asts          0
o_pf            0
o_stl           0
o_to            0
o_blk           0
o_pts           0
d_fgm           0
d_fga           0
d_ftm           0
d_fta           0
d_3pm           0
d_3pa           0
d_oreb          0
d_dreb          0
d_reb           0
d_asts          0
d_pf            0
d_stl           0
d_to            0
d_blk           0
d_pts           0
tmORB           0
tmDRB           0
tmTRB           0
opptmORB        0
opptmDRB        0
opptmTRB        0
won             0
lost            0
GP              0
homeW           0
homeL           0
awayW           0
awayL           0
confW           0
confL           0
min             0
attend          0
arena           0
dtype: int64

--------------------------------------------------

<p> This small data analysis let us understand the following: <p>

- `teams.csv` - This dataset contains the most important information for our model and will be the starting point for our analysis;

- `players_teams.csv` - The player's stats are also important and can be aggregated to the team's stats to create a more robust model;

- `coaches.csv` - Coaching records can also provide valuable information but this need to be further analyzed to understand how to use it and if it will really add value to the model;

- `awards_players.csv` - The awards won by a player or coach can help identify important players and coaches although this information may not be relevant for the model and will be further analyzed;

- `players.csv` - The player's physical information and carrier details will most likely not be so relevant for the model as other datasets but there may be some information that can be used to enrich the model;

- `series_post.csv` and `teams_post.csv` - These datasets contain information about the playoffs results and for now the value of the information on it does not seem to directly impact the model although we can verify which teams have a better historical performance in the playoffs.

The next step is to use `teams.csv` to start building the model and then further use other datasets to enrich it.

In [146]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, recall_score, precision_score, f1_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, GridSearchCV
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.ensemble import GradientBoostingClassifier

proc_data = teams.drop(['lgID', 'franchID', 'confID', 'divID', 'name', 'firstRound', 'semis', 'finals', 'arena'], axis=1)
proc_data.sort_values(['tmID', 'year'])
proc_data['playoff'] = df.groupby('tmID')['playoff'].shift(-1)
proc_data.loc[proc_data['tmID'] != proc_data['tmID'].shift(-1), "playoff"] = np.nan
proc_data = proc_data.drop('tmID', axis=1)
proc_data = proc_data.dropna()


proc_data.loc[proc_data['playoff'] == 'Y', 'playoff'] = 1
proc_data.loc[proc_data['playoff'] == 'N', 'playoff'] = 0

print(proc_data.head())
proc_data.convert_dtypes()

testing_year = 8

x_train = proc_data.loc[proc_data['year'] <= testing_year].drop('playoff', axis=1)
y_train = proc_data.loc[proc_data['year'] <= testing_year]['playoff'].astype('int')

x_test = proc_data.loc[proc_data['year'] > testing_year].drop('playoff', axis=1)
y_test = proc_data.loc[proc_data['year'] > testing_year]['playoff'].astype('int')

   year  rank playoff  seeded  o_fgm  o_fga  o_ftm  o_fta  o_3pm  o_3pa  \
0     9     7       1       0    895   2258    542    725    202    598
2     1     8       1       0    812   1903    431    577    131    386
3     2     4       1       0    746   1780    410    528    153    428
4     3     2       1       0    770   1790    490    663    211    527
5     4     2       0       0    787   1881    456    590    187    517

   o_oreb  o_dreb  o_reb  o_asts  o_pf  o_stl  o_to  o_blk  o_pts  d_fgm  \
0     340     737   1077     492   796    285   593    142   2534   1014
2     305     630    935     551   713    222   496     90   2186    879
3     309     639    948     467   605    217   474    114   2055    732
4     302     653    955     496   647    241   408    105   2241    778
5     342     629    971     499   697    279   497    115   2217    790

   d_fga  d_ftm  d_fta  d_3pm  d_3pa  d_oreb  d_dreb  d_reb  d_asts  d_pf  \
0   2254    679    918    172    502     401     864   1265     684   726
2   1930    533    716    138    423     326     664    990     596   596
3   1846    431    562    114    369     344     567    911     443   579
4   1807    444    598    133    372     295     620    915     489   600
5   1902    477    667    138    407     386     621   1007     491   606

   d_stl  d_to  d_blk  d_pts  tmORB  tmDRB  tmTRB  opptmORB  opptmDRB  \
0    310   561    134   2879      0      0      0         0         0
2    259   426    123   2429      0      0      0         0         0
3    257   447    124   2009      0      0      0         0         0
4    208   424    103   2133      0      0      0         0         0
5    264   469    104   2195      0      0      0         0         0

   opptmTRB  won  lost  GP  homeW  homeL  awayW  awayL  confW  confL   min  \
0         0    4    30  34      1     16      3     14      2     18  6825
2         0    8    24  32      5     11      3     13      5     16  6475
3         0   18    14  32     11      5      7      9     15      6  6500
4         0   18    14  32     11      5      7      9     12      9  6450
5         0   18    16  34     13      4      5     12     12     12  6850

   attend
0  141379
2   90963
3  105525
4  106670
5  120061

In [150]:
models = [
    ('Decision Tree', DecisionTreeClassifier()),
    ('Random Forest', RandomForestClassifier()),
    ('Extra Trees', ExtraTreesClassifier()),
    ('MLP', MLPClassifier(random_state=184, max_iter=1000)),
    ('KNN', KNeighborsClassifier()),
    ('SVM', SVC(random_state=42)),
    ('Gaussian Naive Bayes', GaussianNB()),
    ('Multinomial Naive Bayes', MultinomialNB()),
    ('Bernoulli Naive Bayes', BernoulliNB()),
    ('Gradient Boosting', GradientBoostingClassifier(random_state=42))
]

results = []

for model_name, model in models:
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    results.append((model_name, accuracy))

results_df = pd.DataFrame(results, columns=['Model', 'Accuracy'])
results_df = results_df.sort_values('Accuracy', ascending=False)
display(results_df)

                     Model  Accuracy
3                      MLP  0.846154
5                      SVM  0.615385
8    Bernoulli Naive Bayes  0.615385
9        Gradient Boosting  0.615385
2              Extra Trees  0.538462
0            Decision Tree  0.538462
1            Random Forest  0.461538
4                      KNN  0.461538
7  Multinomial Naive Bayes  0.461538
6     Gaussian Naive Bayes  0.384615