### IMPORTS

In [7]:
import pandas as pd
import numpy as np

## DATA LOADING

In [8]:
# Set pandas options to display all columns
pd.set_option('display.max_columns', None)
# Set pandas options to display all rows
pd.set_option('display.max_rows', None)

coaches = pd.read_csv('../../datasets/coaches.csv')

---

## Coaches

We will take a look at the coaches data first.

In [9]:
coaches.head()

      coachID  year tmID  lgID  stint  won  lost  post_wins  post_losses
0  adamsmi01w     5  WAS  WNBA      0   17    17          1            2
1  adubari99w     1  NYL  WNBA      0   20    12          4            3
2  adubari99w     2  NYL  WNBA      0   21    11          3            3
3  adubari99w     3  NYL  WNBA      0   18    14          4            4
4  adubari99w     4  NYL  WNBA      0   16    18          0            0

The `coaches.csv` dataset contains the following columns:

- `coachID`: unique identifier for each coach. It is also present in the `awards_players.csv`dataset. 
- `year`: the year the coach was active.
- `tmID`: the team the coach was coaching.
- `lgID`: the league the team was in.
- `stint`: the stint of the coach in the team.
- `won`: the number of games won by the team.
- `lost`: the number of games lost by the team.
- `post_wins`: the number of post-season wins by the team.
- `post_losses`: the number of post-season losses by the team.


This dataset contains information about the performance of the coaches in the NBA, including the number of games won and lost by the team, as well as the number of post-season wins and losses. It also says if the coach coached more than one team in the same year.

In [10]:
coaches.describe()

             year       stint         won        lost   post_wins  post_losses
count  162.000000  162.000000  162.000000  162.000000  162.000000   162.000000
mean     5.314815    0.364198   14.672840   14.623457    1.166667     1.172840
std      2.896715    0.693861    6.403445    5.678789    1.953656     1.316782
min      1.000000    0.000000    0.000000    2.000000    0.000000     0.000000
25%      3.000000    0.000000   10.000000   11.000000    0.000000     0.000000
50%      5.000000    0.000000   16.000000   15.000000    0.000000     0.000000
75%      8.000000    0.000000   18.750000   18.000000    1.000000     2.000000
max     10.000000    2.000000   28.000000   30.000000    7.000000     5.000000

There is not much to do with this dataset, as it is already clean and ready to be used. We can just remove the `lgID` column, as it is not relevant at all for our analysis.